/*********************************************

Here is a description of any special CSS used.
By default that's nothing.

**********************************************/
body{
  background-color: #000000;
  font-family: monospace;
  color: #79FBCB;
  font-size: 1.1rem;
}

#caption{
  border-style: solid;
  border-radius: 4px;
  padding: 15px;
  width: 45%;
  font-size: 1.6rem;
}

#frame{
  border-style: solid;
  border-radius: 4px;
  padding: 15px;
  width: 25%;
  height: 350px;
}

#question-marks{
  position: absolute;
  font-size: 2.2rem;
  margin-left: 452px;
  margin-top: -360px;
}

#guess{
  position: absolute;
  margin-left: 460px;
  margin-top: -280px;
}

#sumbit-guess{
  position: absolute;
  margin-left: 630px;
  margin-top: -280px;
}

.numeric-data{
  position: absolute;
  margin-left: 590px;
  margin-top: -220px;
  visibility: visible;
}

.varied-data{
  position: absolute;
  margin-left: 460px;
  margin-top: -220px;
  visibility: visible;
}

#second-numeric-data{
  visibility: hidden;
}

#second-varied-data{
  visibility: hidden;
}
