#secret-document{
  font-family: monospace;
  font-size: 1.2rem;
  width: 60vw;
  margin-left: 10vw;
  margin-top: 5vw;
}

.redacted{
  background-color: #000000;
  user-select: none;
}

.revealed{
  color: #FF0000;
  text-decoration: underline;
}
